<div class="card">
    <div class="container-fluid">
        <h1 class="text-align mt-3">{{ recognitionTitle }}</h1>
        <div class="row">
            <img alt="hmtv" class="image-award" [src]="imgHmtv">
            <img alt="ftapcci" class="image-award" [src]="imgFtapcci">
            <img alt="thub" class="image-award" [src]="imgThub">
            <img alt="nasscom" class="image-award" [src]="imgNasscom">
        </div>
        <h1 class="text-align mt-5">{{ mediaTitle }}</h1>
        <div class="row">
           <img alt="timesofindia" class="image-award" [src]="imgToi">
           <img alt="telangana" class="image-award" [src]="imgTelanganaToday">
           <img alt="eenadu" class="image-award" [src]="imgEenadu">
           <img alt="eenadu" class="image-award" [src]="imgAndhrajyothi">
        </div>
    </div>
</div>
