<div>
    <table>
        <tr>
            <th>FirstName:</th>
            <td>{{ loggedInUser.firstName }}</td>
        </tr>
        <tr>
            <th>LastName:</th>
            <td>{{ loggedInUser.lastName }}</td>
        </tr>
        <tr>
            <th>Email:</th>
            <td>{{ loggedInUser.email }}</td>
        </tr>
        <tr>
            <th>Address:</th>
            <td>{{ loggedInUser.address }}</td>
            <!-- <button type="button" class="btn btn-success" (click)="editPopulation(population)" data-toggle="modal" data-target="#myEditModal">Edit 
                population</button> -->
        </tr>
    </table>
</div>
<h6>Personal Information</h6>

