<div class="card">
    <div class="container">
        <h1 class="text-align mt-3">{{ imgTitle }}</h1>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-xs-12">
                <div class="image-gallery">
                    <a target="_self" [href]="imgEenaduAdvertisament">
                        <img [src]="imgEenaduAdvertisament" alt="kishore">
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-xs-12">
                <div class="image-gallery">
                    <a target="_self" [href]="imgTeamTarak1">
                        <img [src]="imgTeamTarak1" alt="teamtarak1">
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-xs-12">
                <div class="image-gallery">
                    <a target="_self" [href]="imgTeamTarak2">
                        <img [src]="imgTeamTarak2" alt="teamtarak2">
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-xs-12">
                <div class="image-gallery">
                    <a target="_self" [href]="imgTeamTarak">
                        <img [src]="imgTeamTarak" alt="teamtarak" width="600" height="400">
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-xs-12">
                <div class="image-gallery">
                    <a target="_self" [href]="imgTeamTarak3">
                        <img [src]="imgTeamTarak3" alt="teamtarak3" width="600" height="400">
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-xs-12">
                <div class="image-gallery">
                    <a target="_self" [href]="imgTeamTarak4">
                        <img [src]="imgTeamTarak4" alt="teamtarak4" width="600" height="400">
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-xs-12">
                <div class="image-gallery">
                    <a target="_self" [href]="imgTeamTarak7">
                        <img [src]="imgTeamTarak7" alt="teamtarak7" width="600" height="400">
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-xs-12">
                <div class="image-gallery">
                    <a target="_self" [href]="imgTeamTarak8">
                        <img [src]="imgTeamTarak8" alt="teamtarak8" width="600" height="400">
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-xs-12">
                <div class="image-gallery">
                    <a target="_self" [href]="imgTeamTarak9">
                        <img [src]="imgTeamTarak9" alt="teamtarak9" width="600" height="400">
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-xs-12">
                <div class="image-gallery">
                    <a target="_self" [href]="imgNtrBirthday">
                        <img [src]="imgNtrBirthday" alt="ntrbirthday" width="600" height="400">
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-xs-12">
                <div class="image-gallery">
                    <a target="_self" [href]="imgNnkpost">
                        <img [src]="imgNnkpost" alt="nnkpost" width="600" height="400">
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-xs-12">
                <div class="image-gallery">
                    <a target="_self" [href]="imgNnkpost1">
                        <img [src]="imgNnkpost1" alt="nnkpost1" width="600" height="400">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
