<div class="card">
    <div class="container">
        <h1 class="text-align mt-3">{{ imgTeamTitle }}</h1>
        <div class="row">
            <div class="col-lg-4">
                <div class="image-gallery">
                    <a target="_self" [href]="imgTeamWork1">
                        <img [src]="imgTeamWork1" alt="teamwork">
                    </a>
                    <div class="desc">{{ imgTeamWorkDescription1 }}
                        <span class="tooltiptext">{{ imgTeamWorkDescription1 }}</span>
                    </div>
                </div>
            </div>
           
            <div class="col-lg-4 col-md-6 col-xs-12">
                <div class="image-gallery">
                    <a target="_self" [href]="imgTeamWork2">
                        <img [src]="imgTeamWork2" alt="Srikanth" width="600" height="400">
                    </a>
                    <div class="desc">{{ imgTeamWorkDescription2 }}
                        <span class="tooltiptext">{{ imgTeamWorkDescription2 }}</span>
                    </div>
                </div>
            </div>
    
            <div class="col-lg-4 col-md-6 col-xs-12">
                <div class="image-gallery">
                    <a target="_self" [href]="imgTeamWork3">
                        <img [src]="imgTeamWork3" alt="Chandrababu" width="600" height="400">
                    </a>
                    <div class="desc">{{ imgTeamWorkDescription3 }}
                        <span class="tooltiptext">{{ imgTeamWorkDescription3 }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-xs-12">
                <div class="image-gallery">
                    <a target="_self" [href]="imgTeamWork4">
                        <img [src]="imgTeamWork4" alt="Hemanth" width="600" height="400">
                    </a>
                    <div class="desc">{{ imgTeamWorkDescription4 }}
                        <span class="tooltiptext">{{ imgTeamWorkDescription4 }}</span>
                    </div>
                </div>
            </div>
    
            <div class="col-lg-4 col-md-6 col-xs-12">
                <div class="image-gallery">
                    <a target="_self" [href]="imgTeamWork5">
                        <img [src]="imgTeamWork5" alt="Hemanth" width="600" height="400">
                    </a>
                    <div class="desc">{{ imgTeamWorkDescription5 }}
                        <span class="tooltiptext">{{ imgTeamWorkDescription5 }}</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
