.login-modal {
    padding: 50px;
}

.login-model-center {
    display: flex;
    justify-content: center;
    padding: 15px;
 }

 .card {
    width: 40%;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
}